*{
    font-family: "Poppins", sans-serif;
}

.text-color{
    color: blueviolet;
}

.nav-link {
  background: none !important;
  transition: 0.3s;
}

.nav-link:hover {
  background: none !important;
  color: blueviolet;
}

.nav-link.active {
  color: blueviolet !important;
  font-weight: 600;
}
